@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); /*Lato light 300 |*/

body {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr;
    grid-template-rows:  120px 170px 1fr 80px;
    background-color: #085573;
    text-align: center;
    box-sizing: border-box;
    height: 100vh;
    margin: 0px;
    font-family: 'Lato';
}

nav {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: auto;
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
    width: 90%;
    height: 50%;
    background-color: #103A3E;
    margin-left: auto;
    margin-right: auto;
    color: #CED9D6;
    border-radius: 0px 0px 100px 100px;
    text-shadow:0px 2px 1px #0D2130;
}

    #search-bar-container {
        display: none;
        height: 70%;
        align-items: center;
        justify-content: center;
        /* padding-top: 8px; */
    }

    #search-icon {
        cursor: pointer;
    }

    #search-icon:hover {
        color: rgb(8, 0, 94);;
    }

    #cart-container {
        margin-left: 80%;
        position: absolute;
    }

    #cart-icon {
        cursor: pointer;
    }

    #cart-icon:hover {
        color: rgb(8, 0, 94);;
    }

    #search-bar {
        height: 80%;
        padding-left: 20px;
        background-image: url("../images/search.png");
        background-repeat: no-repeat;
        background-size: 14px;
        background-position: left center;
        outline: none;
        border: none;
        border-radius: 15px;
    }

    #search-bar:hover {
        background-color: #CED9D6;
    }

    #search-bar:focus {
        background-color: #CED9D6;
    }

    #search-button {
        width: 40px;
        height: 30px;
        border: none;
        background-color: rgb(83, 126, 186);
        border-radius: 5px;

    }

    #search-button:hover {
        box-shadow: inset 0px 2px 4px rgb(87, 87, 87), inset 0px -2px 4px rgb(87, 87, 87);
    }

    #search-button:active {
        box-shadow: inset 0px 2px 4px rgb(0, 0, 0), inset 0px -2px 4px rgb(0, 0, 0);
    }

#header-container {
    grid-column-start: 2;
    grid-column-end: auto;
    grid-row-start: 2;
    grid-row-end: auto;
}

#header-container>h1 {
    display: inline;
    color: #CED9D6;
    text-shadow:0px 5px 3px #0D2130;
}

#header-container>hr {
    border: none;
    height: 6px;
    background-color: #0D2130;
}

#container {
    background-color: #0D2130;
    border: 7px solid #103A3E;
    border-radius: 40px;
    grid-column-start: 2;
    grid-column-end: auto;
    grid-row-start: 3;
    grid-row-end: auto;
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows:  repeat(auto-fill, 500px);
        gap: 20px;
    margin-bottom: 150px;
    padding: 45px;
    box-shadow: 0px 7px 7px #0D2130;
}

.product-container {
    /* width: calc((100% / 3) - 80px); */
    /* margin: 20px 10px 20px 10px;
    padding: 0px 20px 0px 20px; */
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #CED9D6;
}

.product-container:hover {
    box-shadow: inset whitesmoke 0px 10px 10px;
    cursor: pointer;
}

#rating-container {
    display: flex;
    align-items: center;
}

#rating-container>p {
    margin: 0px 5px 0px 5px;
}

.hover-text:hover {
    color: rgb(8, 0, 94);
    cursor: pointer;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.checked {
    color: rgb(255, 177, 60);
}

footer {
    /* background-color: #0D2130; */
    background-image: linear-gradient(#050d13,#0D2130,#0D2130,#0D2130);
    color: #CED9D6;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 4;
    grid-row-end: auto;
}